.archive-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4fr;
  width: 100%;
  margin-top: 100px;
  padding: 0px 10px 0px 10px;
  gap: 1rem;
}

@media (max-width: 768px) {
  .archive-container {
    display: flex;
    flex-direction: column;
  }
}

.archive-container aside {
  grid-column: 9 / -1;
  grid-row: 4 / 5;
}

.archive-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
  height: 100px;
}

.archive-container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 9;
  grid-row: 4 / 5;
}

@media (max-width: 992px) {
  .archive-container-post article {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 993px) {
  .archive-container-post article {
    margin-bottom: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.archive-container-post article::after {
  content: " ";
  width: 100%;
  margin-top: 20px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  grid-column: 1 / -1;
}

.entry-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  grid-column: 1/7;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 7/-1;
  grid-row: 1/2;
}

.archive .archive-container .archive-container-post .archive-line {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1px;
  margin: 3rem 0rem 3rem 0rem;
}
.entry-thumbnail img {
  height: auto;
}
@media screen and (max-width: 992px) {
  .entry-thumbnail img {
    max-width: unset;
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  .entry-thumbnail img {
    height: auto;
    max-width: 100%;
  }
}

.archive-container-post article:nth-child(even) > .entry-thumbnail {
  grid-column: 7/-1;
  grid-row: 1/2;
}

.archive-container-post article:nth-child(even) > .grid {
  grid-column: 1/7;
  grid-row: 1/2;
}
.archive-line::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.192);
  transform: translateY(-50%);
  overflow: hidden;
}

.entry-title a {
  font-weight: 600;
  color: var(--black);
}
:is(.posted-on, .entry-title, .author ) a {
  text-decoration: none;
  color: var(--orange);
}
.entry-title a {
  color: var(--black);
}
.entry-meta {
  margin-top: 0.4rem;
  font-weight: bold;
  color: var(--orange);
  font-size: 14px;
}
.pagination {
  margin-bottom: 2rem;
}
.nav-links,
.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links a .icon,
.nav-links .icon a,
.current {
  display: flex;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  fill: var(--white);
  background-color: var(--orange);
  border-radius: 50%;
  color: white;
}

.current {
  color: white;
  background-color: #f15e097a;
}

.nav-links a {
  text-decoration: transparent;
  color: black;
  padding: 4px;
}

.nav-links a svg {
  width: 13px;
  height: 13px;
}

.entry-footer * a {
  text-decoration: none;
  text-transform: lowercase;
  font-style: italic;
  color: var(--black);
}

.entry-footer * a:hover {
  color: var(--orange);
}
