.archive-user {
    grid-column: 1 / -1;
    
}

.author-info img {
    border-radius: 50%;
}



.author-social-links {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.author-social-links a {
    margin: 1rem 0rem 1rem 0rem;
}


.author .archive-header .breadcrumb a {

    font-size: 16px;
}

.author-info {
    height: 100%;
    padding: 1rem 3rem 3rem 3rem;
    background: rgb(241,93,9);
    background: linear-gradient(0deg, rgba(241,93,9,0.05) 0%, rgba(255,255,255,0) 100%);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.author-social-links {
    display: flex;
}

.author-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0rem 4rem 0rem 4rem;
}

@media (max-width: 768px){
    .author-info {
        flex-direction: column;
        padding: 0;
        
    }
    .author-description {
        padding: 1.7rem;
    }
   }


.author-description .author-name {
    font-weight: bold;
    font-size:38px;
    
}

.author-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 34px;
    font-weight: bold;
    color: var(--light-gray);
    grid-column: 1/-1;
    grid-row: 3 / 4;
    height: 100px;
 
}

