.site-footer {
    background-color: var(--black);
    height: 15rem;
   
}

.footer-apps, .footer-info{
    background-color: var(--black);
}

.footer-info, .footer-apps {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
} 



.huawei-logo {
    height: 41px;
    aspect-ratio: auto 137 / 41;
    width: 137px;
}

.play-logo {
    height: 41px;
    aspect-ratio: auto 138 / 41;
    width: 138px;
}

.app-store-logo {
    height: 50px;
    aspect-ratio: auto 147 / 50;
    width: 147px;
}