:root {
  --light-pink: #f7f0e6;
  --light-gray: #808080;
  --orange: #f15d09;
  --black: #000000;
  --white: #ffffff;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto 0px auto;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
}

.site-header {
  top: 0;
  background-color: var(--white);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.main-navigation {
  width: 100%;
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.menu-main-menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  position: relative;
  margin: 0.5rem 0rem 0.5rem 0rem;
  width: 70px;
  height: 70px;
  z-index: 10;
  background-size: cover;
}

.menu-phone-icon i {
  color: var(--black);
  cursor: pointer;
  margin-left: 2rem;
}

.menu li a {
  text-decoration: none;
  margin-left: 3rem;
  color: var(--black);
  text-transform: Uppercase;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu li a {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu li a {
    margin-left: 1.2rem;
  }
}

@media (max-width: 768px) {
  .menu li a {
    margin: 0;
  }
  .menu-main-menu-container {
    display: block;
    position: absolute;
    background: var(--white);
    top: 86px;
    width: 100vw;
    width: 100dvw;
    left: 0;
  }

  .nav-menu li {
    margin-top: 1rem;
    text-align: center;
  }

  .nav-menu li::after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.menu-phone-icon {
  margin-left: 3rem;
  position: relative;
  background-image: url(../assets/mobile.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.menu-phone-icon::before {
  content: "";
  display: block;
  margin-left: -1rem;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.menu li a:hover,
.menu li a:hover {
  color: var(--orange);
}

.sub-menu-button {
  display: none;
}

@media (min-width: 768px) {
  .main-navigation .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

@media (max-width: 768px) {
  .menu-phone-icon {
    display: none;
  }
  .menu-toggle {
    margin-right: 0;
  }

  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }

  .sub-menu-button {
    display: block;
    border: transparent;
    background-color: #f15e09b7;
    color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    left: 2.3rem;
    top: -0.3rem;
  }


  .active {
    display: block;
  }
}
