:root {
	--light-pink: #f7f0e6;
	--light-gray: #808080;
	--orange: #f15d09;
	--black: black;
}

.container {
	width: 100%;
	max-width: 1170px;

}

body {
	
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6px;
}

.site-header {
	top: 0;
	background-color: white;
	position: fixed;
	z-index: 5;
	width: 100%;
}


.main-navigation {
	width: 100%;
	min-height: 110px;
	max-width: 1170px;
	padding: 0px 16px 0px 16px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}


 .menu-main-menu-container {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	
	width: 900px;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
}





.header-logo {
	position: relative;
	margin: 0.5rem 0rem 0.5rem 0rem;
	width: 90px;
	height: 90px;
	z-index: 10;
	background-size: cover;
}


.menu li a {
	text-decoration: none;
	color: black;
	text-transform: Uppercase;
	font-weight: 600;
	font-size: 18px;
	transition: color 0.3s;
}

.menu li a:hover,
.menu li a:hover {
	color: var(--orange);
}







@media (min-width: 768px) { 
	.main-navigation .menu-toggle {
		display: none;
		
		
	  }
	
	  .main-navigation ul {
		display: flex;
	
	  }

 }

 @media (max-width: 768px) {

	.header-logo{
		display: none;
	}
	.toggled .menu-main-menu-container .menu{
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: center;
		margin-right: 1rem;
	}
	

  }
