.category-section {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.category-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-header {
  position: relative;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: var(--black);
}

.category-header::after,
.category-header::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--black);
}

.category-header::before {
  margin-left: -16px;
}

.recipe-card {
  margin: 1rem;
  flex: 1 0 30%;
}

.recipe-card-image {
  height: 230px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.recipe-card-image img {
  width: 100%;
}

.recipe-card a {
  text-decoration: none;
  color: var(--black);
}

.post-title {
  margin-top: 0.5rem;
  font-weight: 600;
}

.category-container::after {
  content: "";
  margin-top: 4rem;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
