.post-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px auto;
	width: 100%;
	margin-top: 100px;
}
.post-header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	text-align: center;
}

.post-content {
	grid-column: 1 / 9;
	grid-row: 2 / 3;
}

aside {
	grid-column: 10 / -1;
	grid-row: 2 / 3;
}

.breadcrumb {
	color: var(--black);
	font-weight: 400;
	font-size: 13px;
}

.breadcrumb a {
	text-decoration: none;
	color: var(--black);
	transition: color 0.3s;
}

.breadcrumb a:hover {
	color: var(--orange);
}

.post-header p {
	margin-bottom: 0.7rem;
	font-size: 20px;
	color: var(--black);
	font-weight: bold;
}

.post-content-title {
	font-weight: bold;
	font-size: 18px;
	color: var(--black);
}

.post-content img {
	height: auto;
  max-width: 100%;
}

.post-content-subtitle {
    margin: 0.4rem 0rem 1.5rem 0rem;
    font-size: 14px;
    color: var(--orange);
}

.post-content-subtitle a {
    color: var(--orange);
    text-decoration: none;
}

.generic-content {
    margin: 2rem 0rem 5rem 0rem;
}