.search-container {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
	margin: 130px auto 0 auto;
}

.search-container img {
    height: auto;
    max-width: 100%;
}

.search-container article {
    grid-column: 1 / 9;
   
}

.search-container header {
grid-column: 1/-1;
}

.search-container header h1 {
    color: var(--black);
    font-weight: 600;
}

.search-container article header {
    margin-right: auto;
}

.search-container aside {
    grid-column: 9 / -1;
}